.blueGlow {
    text-shadow: 1px 1px 0.5em #4141e1, 1px 1px 1em #4141e1, 1px 1px 1em #4141e1;
}

.blueGlowLg {
    text-shadow: 1px 1px 0.5em #4141e1;
}

.parallelogram {
    content: "";
    background: #242436;
    opacity: 30%;
    left: 15%;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: skewX(33deg);
    transform-origin: left top;
    z-index: -5;
    background: linear-gradient(-55deg,hsla(0,0%,100%,0) 10%,hsla(0,0%,100%,.1) 85%);
}

.floating {
    transform: translate(0em, 0em);
}

@media (prefers-reduced-motion: no-preference) {
  .floating {
    animation: floating infinite 1s ease-in-out alternate;
  }
}

@keyframes floating {
    from {
        transform: translate(0, -0.5em);
      }
      to {
        transform: translate(0, 1em);
      }
}

.captionContainer {
  position: relative;
}

.captionGradient {
  position: absolute;
  bottom: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: linear-gradient(180deg,hsla(0,0%,0%,.5) 10%,hsla(0,0%,0%,1) 75%);
}

.caption {
  position: absolute;
  bottom: 1em;
  width: 100%
}

@media (prefers-reduced-motion: no-preference) {
  .captionContainer:hover {
    animation: grow-sm infinite 1s ease-in-out;
    box-shadow: 1px 1px 0.5em #4141e1;
  }
  .captionContainer:hover > .captionGradient {
    visibility: visible;
  }
}

@keyframes grow-sm {
  from {
      transform: scale(1.025);
    }
    to {
      transform: scale(1.025);
    }
}